    /* accordion */
    
    .accordion-content {
        height: 0;
        overflow: hidden;
        transition: max-height 1s linear !important;
    }
    
    .para {
        -webkit-font-smoothing: antialiased;
    }
    
    .accordion-content.open {
        height: auto;
        transition: max-height 1s linear !important;
    }